<main class="text-center mt-5">
    <div class="mt-5">
        <h1>Page not found</h1>
        <p>Please go back to home, this page was not found...</p>
    </div>
    <div class="mt-2">
        <a href="/" class="btn btn-outline-primary">Home</a>  
    </div>
    <div class="">
        <img src="/assets/img/404.png" alt="404" class="error">  
    </div>
</main>